<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>295751708011-echh2udd2ivi89n3i5s8r1t0eo3dpdkg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295751708011-echh2udd2ivi89n3i5s8r1t0eo3dpdkg</string>
	<key>API_KEY</key>
	<string>AIzaSyAR9pUM4lvo889aS7D2Kg47Sqv3GrXhcZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>295751708011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>by.hrodna.events.EventsBy</string>
	<key>PROJECT_ID</key>
	<string>iteventsby-cda85</string>
	<key>STORAGE_BUCKET</key>
	<string>iteventsby-cda85.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295751708011:ios:95d0a1f73765a24e</string>
	<key>DATABASE_URL</key>
	<string>https://iteventsby-cda85.firebaseio.com</string>
</dict>
</plist>